global_defs {
    enable_script_security
    script_user root
}

vrrp_script chk_technitium {
    script "/usr/local/bin/check_technitium.sh"
    interval 2
    timeout 3
    fall 2
    rise 2
}

vrrp_instance VI_TECHNITIUM {
    state BACKUP
    interface {{ technitium_vip_interface }}
    virtual_router_id {{ technitium_virtual_router_id }}
    priority {{ technitium_keepalived_priority }}
    advert_int 1
{% if technitium_unicast_peers | default([]) | length > 0 %}
    unicast_src_ip {{ ansible_host }}
    unicast_peer {
{% for peer in technitium_unicast_peers %}
        {{ peer }}
{% endfor %}
    }
{% endif %}
    virtual_ipaddress {
        {{ technitium_vip }}/{{ technitium_vip_prefix }}
    }
    track_script {
        chk_technitium
    }
}
