---
- name: Install docker
  ansible.builtin.include_tasks: "{{ tasks_dir }}/docker/install.yaml"

- name: Set variables
  ansible.builtin.set_fact:
    remote_path: ~/docker-compose.yml
    template_file: docker-compose.yml.j2
    project_path: /root

- name: Include update docker-compose
  ansible.builtin.include_tasks: "{{ tasks_dir }}/docker/update-compose.yaml"
  vars:
    update_compose_remote_path: "{{ remote_path }}"
    template_file_name: "{{ template_file }}"
    update_compose_project_path: "{{ project_path }}"
    max_backups: 5
    validate_compose: true
    cleanup_resources: true
    pull_retries: 3
    pull_delay: 15
