---
extends: default

rules:
  line-length:
    level: warning
    max: 120
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true

  indentation:
    spaces: 2
    indent-sequences: consistent

  trailing-spaces: enable

  comments:
    level: warning
    min-spaces-from-content: 1

  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1

  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 0

  document-start:
    level: warning

  truthy:
    allowed-values: ['true', 'false', 'on', 'off', 'yes', 'no']
    check-keys: false

  empty-lines:
    max: 2
    max-start: 0
    max-end: 1

ignore: |
  .git/
  .gitlab-ci.yml.d/
  molecule/*/molecule.yml
  .cache/
  venv/
  **/archived/**
