---
extends: default

rules:
  line-length:
    level: warning
    max: 120
    allow-non-breakable-words: true
    ignore: |
      ^ *args:

  indentation:
    spaces: 2
    indent-sequences: consistent

  trailing-spaces: enable

  comments:
    level: warning
    min-spaces-from-content: 1

  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1

  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 0

  document-start: enable
