---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: peanut
  namespace: apps
spec:
  selector:
    matchLabels:
      app: peanut
  strategy:
    type: Recreate
  revisionHistoryLimit: 3
  template:
    metadata:
      labels:
        app: peanut
    spec:
      containers:
        - name: peanut
          image: brandawg93/peanut:5.21.2@sha256:b613c7e1421911c928ed7b10ad16888a56c9d8eb9c51c43c4452d3ab8ea08c22
          volumeMounts:
            - name: config
              mountPath: /config
          resources:
            limits:
              cpu: 50m
              memory: 500Mi
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: pvc-peanut
