---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: peanut
  namespace: apps
spec:
  selector:
    matchLabels:
      app: peanut
  strategy:
    type: Recreate
  revisionHistoryLimit: 3
  template:
    metadata:
      labels:
        app: peanut
    spec:
      containers:
        - name: peanut
          image: brandawg93/peanut:5.22.0@sha256:14d71889539a5b050961ca69f20b3c9fd5fa5af439e388dff08ebbe32bf15c84
          volumeMounts:
            - name: config
              mountPath: /config
          resources:
            limits:
              cpu: 50m
              memory: 500Mi
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: pvc-peanut
