{{- if not (default false .Values.immich.server.ingress.main.enabled) }}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: immich-route
  namespace: apps
spec:
  parentRefs:
    - name: cilium-gateway
      namespace: kube-system
      sectionName: https
  hostnames:
    - {{ .Values.httproute.hostname | quote }}
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: {{ if .Values.httproute.serviceName }}{{ .Values.httproute.serviceName }}{{ else }}{{ printf "%s-server" .Release.Name }}{{ end }}
          port: 3001
{{- end }}

