---
apiVersion: v1
kind: Service
metadata:
  name: adguardhome-sync
  namespace: apps
spec:
  selector:
    app: adguardhome-sync
  ports:
  - port: 8080
    targetPort: http
    protocol: TCP
    name: http