apiVersion: v1
kind: ConfigMap
metadata:
  name: sing-box-config
  namespace: apps
data:
  config.json: |
    {
      "log": { "level": "info" },
      "inbounds": [
        {
          "type": "vless",
          "listen": "::",
          "listen_port": 443,
          "users": [
            { "uuid": "UUID-CLIENT" }
          ],
          "tls": {
            "enabled": true,
            "certificate_path": "/tls/tls.crt",
            "key_path": "/tls/tls.key"
          },
          "transport": {
            "type": "grpc",
            "service_name": "chrome"
          }
        }
      ],
      "outbounds": [
        {
          "type": "direct"
        }
      ]
    }
