apiVersion: v1
kind: ConfigMap
metadata:
  name: sing-box-config
  namespace: apps
data:
  config.json: |
    {
      "log": { "level": "debug" },
      "inbounds": [
        {
          "type": "vless",
          "tag": "vless-in",
          "listen": "::",
          "listen_port": 443,
          "users": [
            { 
              "uuid": "UUID-CLIENT"
            }
          ],
          "tls": {
            "enabled": true,
            "certificate_path": "/tls/tls.crt",
            "key_path": "/tls/tls.key"
          },
          "transport": {
            "type": "grpc",
            "service_name": "chrome"
          }
        }
      ],
      "outbounds": [
        {
          "type": "direct",
          "tag": "wg-out"
        }
      ],
      "route": {
        "rules": [
          {
            "inbound": "vless-in",
            "action": "route-options",
            "outbound": "wg-out",
            "override_address": "192.168.0.1",
            "override_port": 39208
          }
        ],
        "final": "wg-out"
      }
    }
