---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: speedtest
  namespace: apps
spec:
  selector:
    matchLabels:
      app: speedtest
  strategy:
    type: Recreate
  revisionHistoryLimit: 3
  template:
    metadata:
      labels:
        app: speedtest
    spec:
      containers:
        - name: speedtest
          image: ghcr.io/linuxserver/speedtest-tracker:1.13.6@sha256:dedc276c0899078f8c10788406592583a22b91d4d46cd11cbffe2b4577b59b79
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Europe/Rome"
            - name: DB_CONNECTION
              value: "sqlite"
            - name: APP_KEY
              valueFrom:
                secretKeyRef:
                  name: speedtest-secrets
                  key: app_key
            - name: APP_TIMEZONE
              value: "Europe/Rome"
            - name: APP_URL
              value: "https://speedtest.local.ildoc.it"
            - name: PRUNE_RESULTS_OLDER_THAN
              value: "365"
            - name: SPEEDTEST_SCHEDULE
              value: "0 * * * *"
            - name: SPEEDTEST_SERVERS
              value: "7839,38174"
            - name: TELEGRAM_BOT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: speedtest-secrets
                  key: telegram_bot_token

          volumeMounts:
            - name: config
              mountPath: /config
          resources:
            limits:
              cpu: 50m
              memory: 500Mi
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: speedtest
