---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: uptimekuma
  namespace: apps
spec:
  selector:
    matchLabels:
      app: uptimekuma
  strategy:
    type: Recreate
  revisionHistoryLimit: 3
  template:
    metadata:
      labels:
        app: uptimekuma
    spec:
      containers:
        - name: uptimekuma
          image: louislam/uptime-kuma:1.23.17@sha256:3d632903e6af34139a37f18055c4f1bfd9b7205ae1138f1e5e8940ddc1d176f9
          volumeMounts:
            - name: config
              mountPath: /app/data
          resources:
            limits:
              cpu: 50m
              memory: 500Mi
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: uptimekuma
