---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: uptimekuma
  namespace: apps
spec:
  selector:
    matchLabels:
      app: uptimekuma
  strategy:
    type: Recreate
  revisionHistoryLimit: 3
  template:
    metadata:
      labels:
        app: uptimekuma
    spec:
      containers:
        - name: uptimekuma
          image: louislam/uptime-kuma:2.1.0@sha256:da418b1f5655c12d2d62aa3d189117bfad5d83c2ab99bb3e82b2eaaf5246bbc1
          volumeMounts:
            - name: config
              mountPath: /app/data
          resources:
            limits:
              cpu: 50m
              memory: 500Mi
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: uptimekuma
