---
services:
  redis:
    image: redis:8.2.2
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - ./redis:/data
    command: redis-server /data/redis.conf
    restart: always
    networks:
      - redis-network

  redisinsight:
    image: redis/redisinsight:2.70.1
    container_name: redisinsight
    ports:
      - "8080:5540"
    volumes:
      - ./redisinsight:/data
    depends_on:
      - redis
    restart: always
    networks:
      - redis-network

networks:
  redis-network:
    driver: bridge

volumes:
  redis_data:
