---
apiVersion: v1
kind: Service
metadata:
  name: miniflux
  namespace: apps
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: miniflux

