---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: element-web
  namespace: apps
spec:
  selector:
    matchLabels:
      app: element-web
  replicas: 2
  strategy:
    type: RollingUpdate
  revisionHistoryLimit: 3
  template:
    metadata:
      labels:
        app: element-web
    spec:
      containers:
        - name: element-web
          image: vectorim/element-web:v1.12.9@sha256:ed7a0b4a358f65715f51a7a637f5b309c3c1d8e4c170e17cc06c7bb1b964fac3
          ports:
            - containerPort: 80
              name: http
              protocol: TCP
          volumeMounts:
            - name: config
              mountPath: /app/config.json
              subPath: config.json
              readOnly: true
          resources:
            limits:
              cpu: 100m
              memory: 128Mi
            requests:
              cpu: 50m
              memory: 64Mi
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
      volumes:
        - name: config
          configMap:
            name: element-config
