---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bazarr
  namespace: apps
spec:
  selector:
    matchLabels:
      app: bazarr
  strategy:
    type: Recreate
  revisionHistoryLimit: 3
  template:
    metadata:
      labels:
        app: bazarr
    spec:
      containers:
        - name: bazarr
          image: ghcr.io/linuxserver/bazarr:1.5.4@sha256:3785c9b813985821c9b56ee88c516d96b37dc21242c8f315f52e87c029735695
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Europe/Rome"
          volumeMounts:
            - name: config
              mountPath: /config
            - name: film
              mountPath: /movies
            - name: serie-tv
              mountPath: /tv
            - name: downloads
              mountPath: /downloads
          resources:
            limits:
              cpu: 50m
              memory: 1Gi
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: bazarr
        - name: film
          nfs:
            server: 192.168.0.123
            path: /mnt/mediadisk/film
        - name: serie-tv
          nfs:
            server: 192.168.0.123
            path: /mnt/mediadisk/serie-tv
        - name: downloads
          nfs:
            server: 192.168.0.123
            path: /mnt/mediadisk/downloads
