---
# ansible/roles/gitlab/tasks/main.yaml

- name: Install docker
  ansible.builtin.include_tasks: "{{ tasks_dir }}/docker/install.yaml"

- name: Setup Traefik config
  ansible.builtin.include_tasks: setup_traefik.yaml

- name: Setup GitLab
  ansible.builtin.include_tasks: setup_gitlab.yaml
